@import url('http://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro?styles=16509,16511');
@import url('http://fonts.cdnfonts.com/css/google-sans?styles=20575,20577,20583');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /**/
    --pink : #f1cdd7;
    --color-font-sidebar: #865c6c;
    --blue-google: #1a73e8;
    --blue-google-hover: #5195ed;
    --btn-sign: ##ea4c89;
    --btn-sign-hover: #;
    --black: #0d0c22;
    --font-titles: 'Neue Haas Grotesk Text Pro', sans-serif;
    --google-thin:'Product Sans';
    --google-bold:'Product Sans Medium';
    --btn-send-hover: #f082ac;
    --btn-send: #ea4c89;
    


}
a{
    color: #4f3cc9;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: var(--font-titles);
}

h1{
    font-family: var(--font-titles) ;
    font-size: 1.6rem;
    color: var(--color-font-sidebar);
    line-height: 1.9rem;
}
p{
    font-family: var(--font-titles) ;
    font-size: 0.9rem;   
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.dribbble-sidebar{
    display: flex;
    flex-direction: column;
    background: var(--pink);
    flex: 0 1 37.7%;
    height: 100vh;
}
.brand{
    margin: 0 auto;
    padding: 12.4% 12%;
}
.brand img{
    width: 6rem;
    margin-bottom: 6%;
}
.image{
    background-image: url('../img/sign-in-img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 75vh;
}
.dribbble-form{
    flex: 0 1 62%
}
.dribbble-form .login{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 3.5%;
    padding-right: 2.8%;
}
.container{
    width: 100%;
    max-width: 25.5rem;
    margin: 0 auto;
}
.google-sign{
    margin-bottom: 10%;
}
.google-sign h3{
    font-size: 1.47rem;
    font-family: 'Neue Haas Grotesk Text Pro';
    color: var(--black);
    margin-top: 24.5%;
    margin-bottom: 7%;
}
.google-sign .sign-btns{
    display: flex;
}
.google-btn{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;
    border: none;
    padding: 0.5%;
    background: var(--blue-google);
    color: white;
    width: 15.4rem;
    border-radius: 5px;
}
.google-btn span{
    font-family: var(--google-bold);
    font-size: 0.96rem;
}
.google-btn picture{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
}
.google-btn picture img{        
    width: 1.1rem;
    height: 1.1rem;
    background: white;
    border-radius: 2px;
    align-items: center;
    display: flex;
    margin-left: 1%;
}
.twitter-btn{
    border: none;
    width: 3rem;
    height: 2.4rem;
    margin-left: 1rem;
    border-radius: 5px;
}
.twitter-btn picture img{
    width: 30%;
}
.dividers{
    display: flex;
    margin-bottom: 5%;
    color: #6e6d7a;
    font-family: var(--font-titles);
    font-size: 1rem;
    align-items: center;
    gap: 2%;
}
.dividers hr{
    flex-grow: 1;
    border: 0;
    border-top: 1px solid #e0e0e0;
}
.form form{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
label span{
    color: var(--black);
    font-family: var(--font-titles);
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1%;
    letter-spacing: 0.02rem
}
input[type="text"], input[type="password"]{
    display: block;
    border: none;
    background: #f3f3f4;
    width: 100%;
    padding: 3%;
    margin-top: 3%;
    border-radius: 8px;
}
input:hover{
    background: white;
    border: solid #f3f3f4 0.5px;
    box-shadow: 0 0 8px var(--pink);
    transition: background-color 200ms ease, outline 200ms ease,  box-shadow 200ms ease;
}
.password label a{
    position: relative;
    left: 52%;
    font-family: var(--font-titles);
    font-size: 0.9rem;
}
.submit-btn{
    border: none;
    width: 13rem;
    padding: 3%;
    border-radius: 8px;
    background: var(--btn-send);
    color: white;
    font-family: var(--font-titles);
}
.submit-btn:hover{
    background: var(--btn-send-hover);
}